:root {
  --color-dark: #010004;
  --color-grey: #777575;
  --color-lightgrey: #B4B4B4;
  --color-white: #FFFFFF;
  --color-yellow: #FFF23A;
  --color-orange: #E83E39;
  --color-pink: #F40BA6;
  --color-purple: #5700B2;
  --color-indigo: #3619E0;
  --color-darkblue: #1111C9;
  --color-turquoise: #0CF2E7;
  --color-lightblue: #06E1F7;
}