.partner-section #partner-1 {
  background-image: url("../images/partners/Accenture.svg");
}

.partner-section #partner-2 {
  background-image: url("../images/partners/arcade.png");
}

.partner-section #partner-3 {
  background-image: url("../images/partners/Associação_Académica_de_Coimbra_logo.svg");
}

.partner-section #partner-4 {
  background-image: url("../images/partners/bolasberlim.png");
}

.partner-section #partner-5 {
  background-image: url("../images/partners/cm.png");
}

.partner-section #partner-6 {
  background-image: url("../images/partners/dei.png");
}

.partner-section #partner-7 {
  background-image: url("../images/partners/DigitalOcean_logo.svg");
}

.partner-section #partner-8 {
  background-image: url("../images/partners/dreampills.png");
}

.partner-section #partner-9 {
  background-image: url("../images/partners/esabic.png");
}

.partner-section #partner-10 {
  background-image: url("../images/partners/fctuc.png");
}

.partner-section #partner-11 {
  background-image: url("../images/partners/feedzai-seeklogo.com.svg");
}

.partner-section #partner-12 {
  background-image: url("../images/partners/flag.png");
}

.partner-section #partner-13 {
  background-image: url("../images/partners/github.png");
}

.partner-section #partner-14 {
  background-image: url("../images/partners/ipn.png");
}

.partner-section #partner-15 {
  background-image: url("../images/partners/lifeonmars.png");
}

.partner-section #partner-16 {
  background-image: url("../images/partners/Logo-Comboios-de-Portugal.svg");
}

.partner-section #partner-17 {
  background-image: url("../images/partners/luso.png");
}

.partner-section #partner-18 {
  background-image: url("../images/partners/novabase.png");
}

.partner-section #partner-19 {
  background-image: url("../images/partners/outsystems-seeklogo.com.svg");
}

.partner-section #partner-20 {
  background-image: url("../images/partners/redlight.png");
}

.partner-section #partner-21 {
  background-image: url("../images/partners/revolut.png");
}

.partner-section #partner-22 {
  background-image: url("../images/partners/sketch-1.svg");
}

.partner-section #partner-23 {
  background-image: url("../images/partners/sportscaffe.png");
}

.partner-section #partner-24 {
  background-image: url("../images/partners/subvisual.svg");
  background-size: 60%;
}

.partner-section #partner-25 {
  background-image: url("../images/partners/tisystems.png");
}

.partner-section #partner-26 {
  background-image: url("../images/partners/uc.png");
}

.partner-section #partner-27 {
  background-image: url("../images/partners/unbabel.png");
}

.partner-section #partner-28 {
  background-image: url("../images/partners/whitesmith.png");
}

.partner-section #partner-29 {
  background-image: url("../images/partners/wit.png");
}

/* BEFORE - confirmar nomes*/
.partner-section #partner-1::before {
  content:"Accenture";
}

.partner-section #partner-2:before {
  content:"Arcade Game";
}

.partner-section #partner-3:before {
  content:"Associação Académica de Coimbra";
}

.partner-section #partner-4:before {
  content:"BB Lover";
}

.partner-section #partner-5:before {
  content:"Câmara Municipal de Coimbra";
}

.partner-section #partner-6:before {
  content:"Departamento de Engenharia Informática";
}

.partner-section #partner-7:before {
  content:"Digital Ocean";
}

.partner-section #partner-8:before {
  content:"Dream Pills";
}

.partner-section #partner-9:before {
  content:"ESA BIC";
}

.partner-section #partner-10:before {
  content:"Faculdade de Ciências e Tecnologia da Universidade de Coimbra";
}

.partner-section #partner-11:before {
  content:"Feedzai";
}

.partner-section #partner-12:before {
  content:"Flag";
}

.partner-section #partner-13:before {
  content:"Github";
}

.partner-section #partner-14:before {
  content:"Instituto Pedro Nunes";
}

.partner-section #partner-15:before {
  content:"Life on Mars ";
}

.partner-section #partner-16:before {
  content:"CP";
}

.partner-section #partner-17:before {
  content:"Luso";
}

.partner-section #partner-18:before {
  content:"Novabase";
}

.partner-section #partner-19:before {
  content:"Outsystems";
}

.partner-section #partner-20:before {
  content:"Redlight";
}

.partner-section #partner-21:before {
  content:"Revolut";
}

.partner-section #partner-22:before {
  content:"Sketch";
}

.partner-section #partner-23:before {
  content:"Sports Caffe";
}

.partner-section #partner-24:before {
  content:"Subvisual";
}

.partner-section #partner-25:before {
  content:"TiSystems";
}

.partner-section #partner-26:before {
  content:"Universidade de Coimbra";
}

.partner-section #partner-27:before {
  content:"Unbabel";
}

.partner-section #partner-28:before {
  content:"Whitesmith";
}

.partner-section #partner-29:before {
  content:"WIT Software";
}